@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Sanchez);
body {
  margin: 0;
}
h4 {
  font-weight: 600;
}
.container {
  padding: 40px 180px;
}
.profile-banner {
  background: no-repeat center right fixed url(../images/banner-background.jpg);
  margin-bottom: 0;
  padding: 0;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.profile-banner .photo-overlay {
  background-color: #004156;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  z-index: 2;
}
.profile-banner .container {
  position: relative;
  top: 40%;
  z-index: 4;
  text-align: center;
}
.profile-banner .scroll-down {
  height: 80px;
  width: 110px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 5%;
  background-color: #1e1e20;
  text-align: center;
  z-index: 6;
  text-decoration: none;
}
.profile-banner .scroll-down:before {
  content: "\f149";
  font-size: 3em;
  position: absolute;
  top: 20px;
  color: #ffffff;
  -webkit-animation: fade-out-expand 1s linear infinite normal;
  -moz-animation: fade-out-expand 1s linear infinite normal;
  animation: fade-out-expand 1s linear infinite normal;
}
.profile-banner .fa-level-down {
  color: #ffffff;
  font-size: 3em;
  padding-right: 2px;
  padding-top: 20px;
}
.profile-banner .author {
  font-family: 'Righteous', cursive;
  font-size: 6.5em;
  color: #ffffff;
  padding-bottom: 20px;
  border-bottom: 1px solid #94cfe1;
  display: inline-block;
  text-shadow: 3px 3px #94cfe1;
}
.profile-banner .sub {
  color: #ffffff;
  font-size: 1.9em;
}
.profile-photo {
  border: 5px solid #94cfe1;
  -webkit-border-radius: 130px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 130px;
  -moz-background-clip: padding;
  border-radius: 130px;
  background-clip: padding-box;
}
.nav {
  margin-bottom: 0;
}
.navbar {
  background-color: #1e1e20;
  position: absolute;
  top: 100%;
  right: 5%;
  width: 110px;
  z-index: 999;
}
.menu-link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  text-align: center;
  padding-top: 30px;
  font-weight: 600;
  height: 80px;
  text-transform: capitalize;
}
.menu-item {
  display: block;
  float: none;
  height: 80px;
}
.menu-item.active {
  background-color: #004156;
}
.fixed .navbar {
  position: fixed;
  top: 60px;
}
@-moz-keyframes fade-out-expand {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }
  50% {
    opacity: 0;
    transform: scale(2.5, 2.5);
  }
  100% {
    opacity: 0;
    transform: scale(2.5, 2.5);
  }
}
@-webkit-keyframes fade-out-expand {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }
  50% {
    opacity: 0;
    transform: scale(2.5, 2.5);
  }
  100% {
    opacity: 0;
    transform: scale(2.5, 2.5);
  }
}
@keyframes fade-out-expand {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }
  50% {
    opacity: 0;
    transform: scale(2.5, 2.5);
  }
  100% {
    opacity: 0;
    transform: scale(2.5, 2.5);
  }
}
.section-heading {
  font-family: 'Righteous', cursive;
  text-align: center;
  font-size: 3.6em;
  color: #94cfe1;
  text-shadow: 2px 2px #004156;
}
.sub,
.text-center {
  text-align: center;
}
.sub {
  font-size: 1.2em;
  color: #374140;
}
.row {
  padding: 20px 0;
}
.sub-heading {
  color: #94cfe1;
}
.experience-full {
  background: #c49539;
}
.experience strong {
  display: block;
}
.experience-information {
  display: block;
  color: #94cfe1;
}
.experience-location {
  font-family: 'Sanchez', serif;
  border-right: 1px solid #94cfe1;
  padding-right: 8px;
}
.experience-link a {
  font-family: 'Sanchez', serif;
  padding-left: 8px;
  text-decoration: none;
  color: #94cfe1;
}
.experience-link a:hover {
  text-decoration: underline;
  color: #dc3522;
}
.fa-map-marker:before {
  font-size: 1.5em;
  padding-right: 8px;
}
.fa-external-link {
  padding-left: 8px;
  font-family: 'Sanchez', serif;
}
.skill-title,
.skill-level {
  display: inline-block;
}
.skill-title {
  width: 60%;
}
.skill-level {
  float: right;
}
.abilities-background li {
  padding: 3px 0;
}
.abilities-background li:hover {
  background: #d2d8d8;
}
.contact-background {
  background-color: #2a2c2b;
  padding-bottom: 250px;
}
.contact-background a {
  color: #94cfe1;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}
.contact-background a:hover {
  color: #dc3522;
}
.contact-background .fa {
  font-size: 2em;
}
.contact-background span {
  padding-left: 10px;
  font-size: 1.2em;
  vertical-align: text-bottom;
}
.contact-background span:hover {
  text-decoration: underline;
}
