extends /layout.jade

block banner
    div#top.profile-banner(data-position='center right')
            div.container
                h1.author #{resume.user.name}
                p.sub #{resume.user.resumeTitle}
            div.photo-overlay
            a.scroll-down.fa(href='#profile')
                i.fa.fa-level-down