extends layout.jade

block scripts
    link(rel='stylesheet', href='#{cssRoot}/skeleton.css')
    link(rel='stylesheet', href='#{cssRoot}/normalize.css')
    link(rel='stylesheet', href='#{cssRoot}/global.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')