nav.navbar.navbar-default#navbar-example(role='navigation')
            div.main-nav
                ul.nav.navbar-nav
                    each section, i in resume.sections
                        li.menu-item
                            a.menu-link(href='##{section.name}') #{section.name}